html, body {
	overflow-x: hidden;
}
section {
	padding: 80px 0;
}
.about_content {
	overflow: hidden;
	padding: 0px 100px;
	margin: 0 auto;
}
.about_content video {
	width: 50%;
	float: left;
	margin-right: 40px!important;
	margin-bottom: 20px;
}
.about_content p {
	width: 100%;
}
.bottom-margin {
	padding-bottom: 30px!important;
}
.custom-subheading {
	margin-top: 30px!important;
	margin-bottom: 10px!important;
}
ol {
	list-style-type: none;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  	width: 30%;
  	margin: 0 auto;
  	height: 30%;
}
.occupations_contents {
	margin-bottom: 30px;
}
.occupations_contents h3 {
	color: #C22035;
	font-size: 18px;
	margin-top: 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#myVideo {
	  	width: 40%;
	  	margin: 0 auto;
	  	height: 40%;
	}
	.about_content {
		padding: 0px 60px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	#myVideo {
	  	width: 45%;
	  	margin: 0 auto;
	  	height: 45%;
	}
	.navbar-custom {
		padding-bottom: 100px!important;
	}
	.navbar-custom ul {
		position: absolute;
		top: 5px;
		right: 20px;
	}
	.navbar-brand {
		position: absolute;
		top: 45px;
		left: 20px;
	}
	.about_content {
		padding: 0px 20px;
	}
}

#testimonials hr {
	width: 100%;
	border: 1px solid #C22035;
}
.for-centering {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.for-centering img {
	width: 50%;
	margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
	.occupations_contents img {
		width: 20%;
		margin: 10px auto;
	}
	.for-centering {
		width: 100%;
		margin: 0 auto;
	}
	.for-centering img {
		width: 100%;
		margin: 0 auto;
	}
	#myVideo {
	  	width: 50%;
	  	margin: 0 auto;
	  	height: 50%;
	}
	.about_content {
		padding: 0px 15px;
	}
}
